#control2 {
    /* box-sizing: border-box; */
    width: 100% !important;
    height: 100%;
}

.control2 {
    overflow: hidden;
    position: relative;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a3a3d;
    z-index: 2;
    transition: transform 1s ease-in-out;
}
